{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Treadmill Deals!</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affilate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affilate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="home.html">Treadmeal Deals</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy Policy</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affilate/images/1.jpg' %}')">
         <div class="carousel-caption d-none d-md-block">
            <h3>Treadmills Deals!</h3>
            <p>Find the lowest treadmill prices online!</p>
          </div>         
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affilate/images/2.jpg' %}')">   

        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affilate/images/3.jpg' %}')">
          
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    

    

    <!-- Portfolio Section -->
    <h1 class="my-4"> Treadmill deals...</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/dp/B01LW2VNWZ/ref=emc_b_5_i"><img class="card-img-top" src="{% static 'affilate/images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <a href="https://www.amazon.com/dp/B01LW2VNWZ/ref=emc_b_5_i" class="btn btn-success">1500</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/XTERRA-Fitness-TR150-Folding-Treadmill/dp/B01M0L0D90/ref=sxin_3_osp99-634b7b03_cov?ascsubtag=634b7b03-a575-473b-838a-710e48a20456&creativeASIN=B01M0L0D90&crid=1Y10JYD2W8GVK&cv_ct_cx=treadmill&cv_ct_id=amzn1.osp.634b7b03-a575-473b-838a-710e48a20456&cv_ct_pg=search&cv_ct_wn=osp-search&keywords=treadmill&linkCode=oas&pd_rd_i=B01M0L0D90&pd_rd_r=4bf17401-8b9f-4bef-93f7-dc9be81f32d6&pd_rd_w=oSpRV&pd_rd_wg=2rjwh&pf_rd_p=eb3e5cda-5ec9-4d94-919d-310a5d641b8b&pf_rd_r=FCZFXW16BXNH2R1E8X7G&qid=1580648468&sprefix=trea%2Caps%2C292&sr=1-4-32a32192-7547-4d9b-b4f8-fe31bfe05040&tag=gearpublish-20"><img class="card-img-top" src="{% static 'affilate/images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Two</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="https://www.amazon.com/dp/B01LW2VNWZ/ref=emc_b_5_i" class="btn btn-success">500</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Merax-Electric-Folding-Treadmill-Motorized/dp/B07QDX6G7H/ref=sr_1_6?crid=1Y10JYD2W8GVK&dchild=1&keywords=treadmill&qid=1580648468&sprefix=trea%2Caps%2C292&sr=8-6"><img class="card-img-top" src="{% static 'affilate/images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Three</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            <a href="https://www.amazon.com/dp/B01LW2VNWZ/ref=emc_b_5_i" class="btn btn-success">2700</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Merax-Electric-Folding-Treadmill-Motorized/dp/B07QDX6G7H/ref=sr_1_6?crid=1Y10JYD2W8GVK&dchild=1&keywords=treadmill&qid=1580648468&sprefix=trea%2Caps%2C292&sr=8-6"><img class="card-img-top" src="{% static 'affilate/images/t4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="https://www.amazon.com/dp/B01LW2VNWZ/ref=emc_b_5_i" class="btn btn-success">1789</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/ANCHEER-Treadmill-Automatic-T900_Automatic-APP_Control/dp/B083TKL96S/ref=sr_1_15?crid=1Y10JYD2W8GVK&dchild=1&keywords=treadmill&qid=1580648468&sprefix=trea%2Caps%2C292&sr=8-15"><img class="card-img-top" src="{% static 'affilate/images/T5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Five</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="https://www.amazon.com/dp/B01LW2VNWZ/ref=emc_b_5_i" class="btn btn-success">1879</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/MotionTex-8M-110-36C-7-Fitness-Equipment-Black/dp/B07D1VPRB8/ref=pd_sim_200_4/133-1225461-0290966?_encoding=UTF8&pd_rd_i=B07D1VPRB8&pd_rd_r=42a3b343-d356-461d-9508-64735e098775&pd_rd_w=DQ4KY&pd_rd_wg=rUuen&pf_rd_p=65e3eab0-d81f-4a76-93ff-f0b7b1d6cd3d&pf_rd_r=FYZKFE19P69GAFM0MWHP&psc=1&refRID=FYZKFE19P69GAFM0MWHP"><img class="card-img-top" src="{% static 'affilate/images/t6.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">РРјСЏ</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <a href="https://www.amazon.com/dp/B01LW2VNWZ/ref=emc_b_5_i" class="btn btn-success">3570</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Shop Treadmeals on Amazon</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        <button type="button" class="btn btn-success">2345</button>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/s?k=treadmill&i=sporting&crid=2FGRSGA4NXQ29&sprefix=treadmills%2Csporting%2C-1&ref=nb_sb_ss_i_1_9">Shop Treadmills on Amazon</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affilate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affilate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
